<div class="jumbotron mt-4">
    <h1 class="display-4">Servicio Técnico</h1>
    <p class="lead">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Debitis nihil, nostrum reiciendis natus
        minima placeat.</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nostrum culpa doloribus inventore magnam expedita
        voluptatum dolore ipsum consequuntur dolores explicabo.</p>
    <a href="https://www.facebook.com/" target="_blank" class="btn btn-primary">Facebook</a>
</div>